<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://
mybatis.org/dtd/mybatis-3-mapper.dtd">


	<!-- this is belong to the first method , it use the interface -->
	 
	
	<mapper namespace="edu.cn.qdc.GetUserInfo">

	<select id="getUser" parameterType="int" resultType="edu.cn.qdc.User">
		select * from user where id = #{id}
	</select>

	<insert id="addUser" parameterType="edu.cn.qdc.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into user(username,corp)values(#{username},#{corp})
	</insert>

	<update id="updateUser" parameterType="edu.cn.qdc.User"> 
		update user set username=#{username},corp = #{corp} where id = #{id}
	</update>
	
	<delete id="deleteUser" parameterType="edu.cn.qdc.User"> 
		delete from user where id = #{id}
	</delete>
	
	<select id="getAll" resultType="edu.cn.qdc.User">
		select * from user
	</select>
	
</mapper>

	<!--this is belong to the second method ,it does't use the interface  -->
<!-- <mapper namespace="edu.cn.qdc">

	<select id="getUser" parameterType="int" resultType="edu.cn.qdc.User">
		select * from user where id = #{id}
	</select>

	<insert id="addUser" parameterType="edu.cn.qdc.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into user(username,corp)values(#{username},#{corp})
	</insert>

	<update id="updateUser" parameterType="edu.cn.qdc.User"> 
		update user set username=#{username},corp = #{corp} where id = #{id}
	</update>
	
	<delete id="deleteUser" parameterType="edu.cn.qdc.User"> 
		delete from user where id = #{id}
	</delete>
	
	<select id="getAll" resultType="edu.cn.qdc.User">
		select * from user
	</select>
	
</mapper> -->